html,


body {
 height: 100%;
 position: relative;
 margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*php*/
.error {color: red;}

.label {width: 200px;}

/*header*/
.header {
  background: linear-gradient(to right, rgb(29, 148, 175), rgb(32, 126, 149), rgb(32, 105, 124), rgb(30, 84, 100), rgb(27, 64, 77));
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


.header img.logo {
  width : 150px 
  height = 150px 
}

.header a.active {
    background-color:	#042f66;  
    color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/*footer*/

.footer {
  padding: 13px;
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right,rgb(29, 148, 175), rgb(32, 126, 149), rgb(32, 105, 124), rgb(30, 84, 100), rgb(27, 64, 77));
  color: white;
  text-align: center;
  font-size:110%
}

/*tabla*/

td{
  width: 150px; 
  text-align: center; 
  border: 1px solid black; 
  padding: 5px;
  color: black;
  background-color: rgba(256, 256, 256, 0.8);
  }

  

 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }
  
th{
  width: 150px; 
  text-align: center; 
  border: 1px solid black; 
  padding: 5px;
  color: black;
  background-color: rgba(187, 191, 188, 0.8);
 
}
table.center {
  border: 1px solid black; 
  margin-top: 5%;
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 5%;
}

/*fondos*/
.china{
  background-image: url("../imagenes/murochino.jpg");
}
.eeuu{
  background-image: url("../imagenes/usa.jpg");

}
.italia{
  background-image: url("../imagenes/torre.jpg");
}
.francia{
  background-image: url("../imagenes/eiffel.jpg");
}
.españa{
  background-image: url("../imagenes/plazaMayor.jpg");
}
body.php{
  background-image: url("../imagenes/vistavion.jpg");
}

#SLIDE_BG{
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slidebg 15s linear infinite 0s;
  animation-timing-function: ease-in-out;
}
@keyframes slidebg{
  0%{
    background-image: url("../imagenes/eiffel.jpg");
  }

  25%{
    background-image: url("../imagenes/murochino.jpg");
  }
  50%{
    background-image: url("../imagenes/plazaMayor.jpg");
  }
  75%{
    background-image: url("../imagenes/torre.jpg");
  }
  100%{
    background-image: url("../imagenes/tokyo.jpg");
  }
}

#fondoblanco{
  background-color: rgba(256, 256, 256, 0.7);
  padding-bottom: 1%;
  margin: auto;
}

.fondoblanco{
  background-color: rgba(256, 256, 256, 0.7);
}

/*textos*/

h1{
  font-weight: bold;
}


#p01{
  font-size: 120% 
  
}

#p02{
  color: black;
  
}

#p03{
  color: black;
  font-size: 120%;
  text-align: center;
  
}


/*botones*/


#diseñoboton{
  color:white; 
  background-color: #042f66;
  border: 1px solid #042f66; 
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#diseñobotondropdown{
  color:white; 
  background-color: #042f66;
  border: 1px solid #042f66; 
  padding: 7px 25px 7px 25px;
}

#separaciondiv{
  margin-right: 5px;
  margin-left: 5px;
}