html, 

/* Body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing : border-box;
  background-color: #343a40;
}

/*php*/
.label {width: 200px;}

.php{
  background-image: url("../imagenes/avion.jpg");
}

/*efecto parallax*/
.parallax {
  background-image: url("../imagenes/parallax.jpg");
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxpais {
  
  background-image: url("../imagenes/parallax.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxdescuentos {
  
  background-image: url("../imagenes/parallax1.jpg");
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*textoparallax*/
.textoparallax{
  text-align: center;
  font-size: 300%;
  color: white;
  padding-top: 100px;
  font-family: 'Oswald', sans-serif;
}

.textoparallax2{
  text-align: center;
  font-size: 300%;
  color: white;
  padding-top: 100px;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(255, 255, 255, 0.3);
}


.subtextoparallax{
  text-align: center;
  font-size: 200%;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.subtextoparallax2{
  text-align: left;
  font-size: 150%;
  color: black;
  padding: 50px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: whitesmoke;
}

/*IconosIndex*/
.icon1{
  width: 30%;
  height: auto;
}

/*AreasIndex*/
.travel_variation_area{
  padding-top: 50px;
  padding-bottom: 50px;
}

.popular_destination_area{
  background-color: rgb(231, 231, 231);
}

.contacto_area{
  background-color: rgb(231, 231, 231);
}

/*Formato Cards*/

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;

}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row,
.row > .column {
  padding: 10px;
}

.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

content {
  background-color: white;
  padding: 10px;
}

.show {
  display: block;
}


.container {
position: relative;
width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 7px;
  }

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 7px;
    }
    
    
    
    
.container:hover .overlay {
    opacity: 1;
    }


/*Barra de Navegacion*/

#navbar{
  z-index: 9999;
}

.right{
  float: left;
  padding-bottom: 10px;
}

.left{
  float: right;
  padding-bottom: 10px;
}

.dropbtn {
  background-color:#343a40!important;
  color:rgba(255, 255, 255, 0.5);
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {display: block;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 30px;
}

/* Formato Logo*/
.logo {
  width: 10%;
  height: auto;
  padding: 10px;
}

/* paginas de paises */
.main {
  max-width: 1000px;
  margin: auto;
}

.vl {
  border-left: 2px solid gray;
  height: 30px;
}

.content {
  background-color: white;
  padding: 10px;
}

/* Formatos de Texto*/
#h201{
  padding-left: 5%;
  }
  
.text {
color: white;
font-size: 17px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 5px;

}
.text2 {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }

#h401{
text-align: center;
color:rgb(255, 255, 255);
}

#p01{
text-align: center;
padding-top:5% ;
font-size: 400%;
background-color: rgb(255, 255, 255, 0.5);

}

#p07{
  font-size: 125%;
}

#h501{
padding: 5%;
}

#h601{
  padding: 2%;
  }

/* LogIn */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color:#343a40!important;
  color:rgba(255, 255, 255, 0.5);
  padding: 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 5%;
  border-radius: 5%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%; 
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.checked {
  color: orange;
}

.center{
  text-align: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

hr {
  margin: auto;
  width: 40%;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/*Footer*/

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #343a40;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: Verdana, serif;
  }
footer ul.footerleft{
    margin-left: 150px;
    margin-top: 10px;
}
footer ul.footerleft li{
    display: inline;
    margin-right: 25px;
}
footer a{
    color: #222;
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;    
}

.lognotinvisible{
  display: none;
}

.usernotvisible{
  display: none;
}

.slideshow-container {
  position: relative;
  background: white;
}


/* Comentarios */

.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  background: #f1f1f1f1;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

q {font-style: italic;}

.author {color: cornflowerblue;}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.modal-content{
  width: 50% !important;
}


/* Negocios Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}
